@media screen and (max-width: 580px){
    .double_name h3{
        display: none;
    }
    .header_nav{
        position: fixed;
        width:100%;
        height: 100%;
        top:0;
        left:0;
        background-color: white;
        z-index: 10;
        padding-left:26px;
        padding-top:66px;
        justify-content: space-between;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header_nav_active{
        transform: translateX(0%);
    }
    .header_item{
        width: 100%;
        padding-bottom: 68px;
    }
    .header_item a{
        font-size: 34px;
        line-height: 42px;
    }
    .header_link1{
        color: #090909;
        font-weight: bold;
    }
    .gorizont_string{
        display: none;
    }
    .his_programms{
        flex-direction: column;
    }
    .his_programms div{
        padding-bottom:82px;
    }
    .his_programms div:last-child{
        padding-bottom: unset;
    }
    .header_nav_close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 66px;
        right: 29px;
        z-index: 11;
    }
    .close_line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
    }
    .close_line:first-child{
        transform:translateY(-50%) rotate(45deg);
    }
    .close_line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
}   
@media screen and (min-width: 581px){
    .menu{
        display: none;
    }
}